<%
function msToTime(duration) {
    const portions = [];
  
    const msInHour = 1000 * 60 * 60;
    const hours = Math.trunc(duration / msInHour);
    if (hours > 0) {
      portions.push(hours + 'h');
      duration = duration - (hours * msInHour);
    }
  
    const msInMinute = 1000 * 60;
    const minutes = Math.trunc(duration / msInMinute);
    if (minutes > 0) {
      portions.push(minutes + 'm');
      duration = duration - (minutes * msInMinute);
    }
  
    const seconds = Math.trunc(duration / 1000);
    if (seconds > 0) {
      portions.push(seconds + 's');
    }
  
    return portions.join(' ');
  }

  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
  %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Leaderboard UI Design</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <style>
        @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.leaderboard-card {
	background: #fff;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.leaderboard-card.leaderboard-card--first {
	transform: scale(1.05);
}
.leaderboard-card.leaderboard-card--first .leaderboard-card__top {
	background: linear-gradient(45deg, #7e57c2, #ab47bc);
	color: #fff;
}
.leaderboard-card__top {
	background: #f9f6ff;
	padding: 20px 0 10px 0;
}
.leaderboard-card__body {
	padding: 15px;
	margin-top: -40px;
}

img.circle-img {
	height: 70px;
	width: 70px;
	border-radius: 70px;
	border: 3px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
img.circle-img.circle-img--small {
	height: 55px;
	width: 55px;
	border-radius: 55px;
}

.table {
	border-spacing: 0 15px;
	border-collapse: separate;
}
.table thead tr th,
.table thead tr td,
.table tbody tr th,
.table tbody tr td {
	vertical-align: middle;
	border: none;
}
.table thead tr th:nth-last-child(1),
.table thead tr td:nth-last-child(1),
.table tbody tr th:nth-last-child(1),
.table tbody tr td:nth-last-child(1) {
	text-align: center;
}
.table tbody tr {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.table tbody tr td {
	background: #fff;
}
.table tbody tr td:nth-child(1) {
	border-radius: 5px 0 0 5px;
}
.table tbody tr td:nth-last-child(1) {
	border-radius: 0 5px 5px 0;
}
    </style>
</head>
<body>
	<section class="main-content">
		<div class="container">
			<h1>Coins Leaderboard</h1>
            <br>
            <h3>All-Time</h3>
			<br>
			<br>

			<div class="row">
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--first">
						<div class="leaderboard-card__top">
							<h3 class="text-center"><%= lb[0].name %> </h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
                                <br><br>
								<h5 class="mb-0"><%= numberWithCommas(lb[0].coins) %> coins</h5>
								<p class="text-muted mb-0">Kills: <%= lb[0].kills %>, Survived: <%= msToTime(lb[0].time) %>  </p>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="leaderboard-card">
						<div class="leaderboard-card__top">
							<h3 class="text-center"><%= lb[1].name %> </h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
                                <br><br>
								<h5 class="mb-0"><%= numberWithCommas(lb[1].coins) %> coins</h5>
								<p class="text-muted mb-0">Kills: <%= lb[1].kills %>, Survived: <%= msToTime(lb[1].time) %>  </p>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="leaderboard-card">
						<div class="leaderboard-card__top">
							<h3 class="text-center"><%= lb[2].name %> </h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
                                <br><br>
								<h5 class="mb-0"><%= numberWithCommas(lb[2].coins) %> coins</h5>
								<p class="text-muted mb-0">Kills: <%= lb[2].kills %>, Survived: <%= msToTime(lb[2].time) %>  </p>
							</div>
						</div>
					</div>
				</div>
			</div>



			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Coins</th>
						<th>Kills</th>
						<th>Survived</th>
					</tr>
				</thead>
				<tbody>
                    <% for (var i = 3; i < lb.length; i++) { %>
					<tr>
						<td>
							<div class="d-flex align-items-center">
								<div class="user-info__basic">
									<h5 class="mb-0"><%= lb[i].name%></h5>
									<p class="text-muted mb-0"></p>
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline">
								<h4 class="mr-1"><%=numberWithCommas(lb[i].coins)%></h4>
							</div>
						</td>
						<td><%= lb[i].kills %></td>
						<td><%= msToTime(lb[i].time) %></td>
					</tr>
                    <% } %>
				
				</tbody>
			</table>
		</div>
	</section>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>