<!DOCTYPE html>
<style>

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  align-items: center;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
  min-height: 90%;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card_image {
  background-color: lime;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 60rem) {
  .cards_item {
    width: 20%;
  }
}


@media (min-width: 40rem) {
  .cards_item {
    width: 40%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 23.3333%;
  }
}

.card {
  background: linear-gradient(to bottom left, #0a3e0a 5%, green 100%);
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  text-align: center;
 
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5; 
  font-weight: 400;
}

a {
  font-size: 10em !important;
}
<%

function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
%>

</style>
<div class="body" >
  <% if(account) { %>
    <script>
      function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }

      var secret = "<%= secret %>";
      var bal = "<%= account.bal %>";
      function buy(skin,price,obj) {

        if(Number(bal) < price) {
          alert("Not enough coins");
          return;
        }
        obj.innerHTML = "Buying...";
        obj.onclick = () => {};
        var endpoint = "/api/buy";
        var data = {
          item: skin,
          secret: secret
        };
        fetch(endpoint, {
          method: "POST",
          body: JSON.stringify(data),
          headers: {
            "Content-Type": "application/json"
          }
        }).then(function(data) {
          
          if(data.status == 200) {
            bal -= price;
           document.getElementById("balt").innerHTML = "Balance: "+numberWithCommas(bal)+" ";
           //append image to balt
          document.getElementById("balt").appendChild(document.createElement("img")).src = "/assets/images/coin.png";
          //set size of image
          document.getElementById("balt").lastChild.width = "30";
          obj.innerHTML = "EQUIP"
          var currentBuys = document.getElementById("buycount"+skin).innerHTML.trim().split(" ")[0];
          // check if no letters in currentBuys
          if (!currentBuys.match(/[a-z]/i)) {
            // if no letters, add 1
            document.getElementById("buycount"+skin).innerHTML = Number(currentBuys)+1+" buy"+(Number(currentBuys)+1 == 1 ? "" : "s");
          }
          obj.onclick = function() {
            equip(skin,obj);
          }
          } else {
           data.text().then(function(text) {
            obj.innerHTML = numberWithCommas(price)+" ";
            obj.appendChild(document.createElement("img")).src = "/assets/images/coin.png";
            obj.lastChild.style.width = "20";
            obj.onclick = function() {
              buy(skin,price,obj);
            }
            alert(text);

           });

          }
        });

      }

      function equip(skin,obj) {
        obj.innerHTML = "Equipping...";
        var endpoint = "/api/equip";
        var data = {
          item: skin,
          secret: secret
        };
        fetch(endpoint, {
          method: "POST",
          body: JSON.stringify(data),
          headers: {
            "Content-Type": "application/json"
          }
        }).then(function(data) {
          if(data.status == 200) {
            obj.innerHTML = "EQUIPPED";
            obj.onclick = function() {}
            document.querySelectorAll(".card_btn").forEach(function(obj) {
              var skinb = obj.getAttribute("skin");

              if(skinb != skin ) {
                if(obj.innerHTML.trim() == "EQUIPPED") {
                  obj.innerHTML = "EQUIP";
                  obj.onclick = function() {
                    equip(skinb,obj);
                  }
                }
              }
          
            });
          } else {
            data.text().then(function(text) {
              obj.innerHTML = "EQUIP";
              alert(text);
            });
          }
        });
      

      }

    </script>
    <div class="main" style="background-color: black;">

        <br/>
        <h1 style="color: white; font-size: xx-large;"><b>Shop</b></h1><h1 id="balt" style="color: white; font-size: xx-large;">Balance: <%=numberWithCommas(account.bal)%> <img width="30" src="/assets/images/coin.png"></h1>
        <center><button id="closeShop" style="font-size: xx-large;">Close</button></center>
        <br>
       <div id="skins">
        <ul class="cards">
  
            <% cosmetics.skins.forEach(function(skin) { %>
 
        
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><center><img src="<%= skin.url %>"></center></div>
              <div class="card_content">
                <h2 class="card_title"><%= skin.displayName %><i class="fa-solid fa-circle-xmark"></i></h2>
              <b>  <p class="card_text"><%= skin.description %></p></b>
                <p class="card_text">
                  <% abbreviate_number = function(num, fixed) {
                    if (num === null) { return null; } // terminate early
                    if (num === 0) { return '0'; } // terminate early
                    fixed = (!fixed || fixed < 0) ? 0 : fixed; // number of decimal places to show
                    var b = (num).toPrecision(2).split("e"), // get power
                        k = b.length === 1 ? 0 : Math.floor(Math.min(b[1].slice(1), 14) / 3), // floor at decimals, ceiling at trillions
                        c = k < 1 ? num.toFixed(0 + fixed) : (num / Math.pow(10, k * 3) ).toFixed(1 + fixed), // divide by power
                        d = c < 0 ? c : Math.abs(c), // enforce -0 is 0
                        e = d + ['', 'K', 'M', 'B', 'T'][k]; // append power
                    return e;
                  } %>
                  <p style="color: white;" id="buycount<%=skin.name%>">
                  <% if(counts.hasOwnProperty(skin.name)) { %>
                    <%= abbreviate_number(counts[skin.name]) %> buy<%= counts[skin.name] == 1 ? "" : "s" %>
                    <% } else {%>
                    0 buys
                  <% }  %>
                </p>
                </p>
                <% if(account.skins.selected.toLowerCase() == skin.name.toLowerCase()) {%>
                  <button class="btn card_btn" skin="<%=skin.name%>"> EQUIPPED</button> 
                <%} else if(account.skins.collected.includes(skin.name.toLowerCase())) {%>
                  <button class="btn card_btn" skin="<%=skin.name%>" onclick="equip('<%=skin.name%>',this)"> EQUIP </button>
                  <% } else {%>
                <button class="btn card_btn" skin="<%=skin.name%>" onclick="buy('<%=skin.name%>', '<%=skin.price%>',this)"> <%= numberWithCommas(skin.price) %> <img width="20" src="/assets/images/coin.png"></button>
              <% } %>
             
            
              </div>
            </div>
          </li>
         <% }) %>
         <br>
     
        </ul>
        <br>
        <center><button id="closeShop1" style="font-size: xx-large;">Close</button></center>
        <br>
      </div>
      <% } else { %>
        <div style="background-color: black;">
  <h1 style="color: white;"><br>Please log in or sign up to access the shop.<br></h1>
  <center><button id="closeShop" style="font-size: xx-large;">Close</button></center>
  <br>
</div>
<% }  %>

      </div>
      
    
  </div>
